.img{ 
    font-size: 20px; 
    padding: 6px 22px; 
    border-radius: 10px; 
    margin-bottom: 15px; 
    height: auto;
    width: 50%;
}
.img1{ 
    font-size: 20px; 
    padding: 6px 22px; 
    border-radius: 10px; 
    margin-bottom: 15px; 
    height: 1422px;
    width: 800px;
}